html{
    scroll-behavior: smooth;
}

*{
        user-select: none;
}
body{
    background-image: linear-gradient(#18909b, #53004f, #470043, rgb(31, 31, 31));
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

#side{
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.055), rgba(255, 255, 255, 0.178), rgba(255, 255, 255, 0.055), rgba(0, 0, 0, 0));
    /* background-image: linear-gradient(white, #c33764, #1d2671); */
    /* background-image: linear-gradient(rgb(255, 255, 255), rgb(75, 75, 75), black); */
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: grid;
    grid-template-areas: "header header header"
    "meny mainContent mainContent"
    "footer footer footer";
    grid-auto-rows: 1fr 1fr .3fr;
    grid-template-columns: 1.9fr 12fr;
}

#header{
    grid-area: header;
    color: rgba(255, 255, 255, 0.781);
    font-family: Calibri;
    font-size: 10vh;
    text-align: center;
    border-bottom: 2px solid black;
    text-shadow: 0vh 2vh 2vh rgba(0, 0, 0, 0.459), 0vh 2vh 4vh rgba(0, 0, 0, 0.746), 0vh 1.5vh .8vh rgb(0, 0, 0) ;
    box-shadow: 0px 2vh 3vh -1vh rgba(0, 0, 0, 0.575) inset, 0px -2vh 3vh -1vh rgba(0, 0, 0, 0.575) inset;
    overflow: hidden;
    z-index: 2;
}

#logo {
    transform: translateY(-0.6vw);
    z-index: 0;
    width: 10vw;
    margin-left: auto;
    margin-right: auto;

}

#meny{
    grid-area: meny;
    border-right: 2px solid rgb(0, 0, 0);
    font-family: Verdana;
    font-size: 2.5vh;
    text-align: center;
    height: 88.5vh;
}



#addMovieText{
    font-size: 1.6vh;
    color: rgb(63, 63, 63);
    position: absolute;
    bottom: 0;
    margin-bottom: 3%;
    margin-left: 3.5%;
    user-select: none;
    cursor: pointer;
}

#addMovieText:hover{
    color: rgb(153, 39, 128);
}

#mainContent{
    grid-area: mainContent;
    height: 6fr;
    height:100%;
    width: 100%;
    overflow-y: auto;
    overflow-x: auto;
    position: relative;
    z-index: 1;
    box-shadow: 0px 10vh 5vh -5vh rgba(0, 0, 0, 0.575) inset, 0px -10vh 5vh -7vh rgba(0, 0, 0, 0.575) inset;
}

#overlayBox{
    margin: 0px;
    padding: 0px;
    position:absolute;
    width: 100%;
    height: 100%;
}

#gridContainer{
    position: relative;
    padding-top: 3vh;
    display: grid;
    justify-items: center;
    align-content: space-between;
    grid-template-rows: repeat(auto-fit, 14vh);
    grid-template-columns: repeat(5, 17vw);
    row-gap: 2vw;
    margin-left: 1vw;
    z-index: 0;
    overflow-y: visible;
    margin-bottom: calc(100vh - 37.5%);
}

#addMovieBox{
    width: 55vw;
    height: 34vh;
    background-color: rgba(255, 255, 255, 0.082);
    border: .4vh solid black;
    border-radius: 2vh;
    position: absolute;
    z-index: 1;
    margin-top: 10%;
    margin-right: 8.85vw;
    margin-left:  8.85vw;
    user-select: none;
    box-shadow: 0vh 7.5vh 20vh black, 0vh 1vh 2vh rgba(255, 255, 255, 0.109) inset, 0vh -1vh 2vh rgba(0, 0, 0, 0.76) inset;
}

.addMovieHeader{
    color: rgb(240, 240, 240);
    font-family: Verdana;
    font-size: 4vh;
    text-align: center;
    padding: 0px;
    margin: 0px;
    margin-top: 2vh;
    text-shadow: 0px .5vh .7vh rgba(0, 0, 0, 0.726);
}

hr.addMovieHr{
    border: 0px;
    margin:0px;
    margin-bottom: 1vh;
    margin-right: auto;
    margin-left: auto;
    background-color: black;
    width: 45vh;
    height: 0.3vh;
    border-radius: 50%;
    box-shadow: 0px .5vh 1vh .5vh rgba(0, 0, 0, 0.356);
}

.addMovieTable{
    margin-top: 5vh;
    margin-right: auto;
    margin-left: auto;
    font-size: 2.2vh;
    color: rgb(153, 153, 153);
}

.addMovieTD{
    width: 0vw;
    margin-right: 1vw;
    /* margin-left: 1vw; */
}

.addMovieTH{
    width: 0vw;
}

#inputTittel, #inputSpilletid, #inputSjanger, #inputFavoritt, 
#addMovieButton, #loadButton, #sjanger{
    width: 8vw;
    /* margin-right: 1vw; */
    background-color: rgb(49, 49, 49);
    border: 0.2vh solid black;
    color: rgb(153, 153, 153);
    border-radius: 0.3vw;
}

#loadButton{
    width: 3vw;
}

#inputFavoritt{
    /* margin-left:1vw; */
    margin-right: 0vw;
    width: 3vw;
}

#addMovieClose{
    position: absolute;
    right: 1vh;
    top: -2.2vh;
    font-size: 2.8vh;
}

#addMovieClose:hover{
    color: white;
    user-select: none;
}

div.container{
    display: grid;        
    margin-right: 1vw;
    grid-template-areas: 'tittel tittel spilletid',
                        'sjanger sjanger favoritt';
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 3.03fr 1fr;
    width: 14.5vw;
    height: 11.75vh;
    border: 0.3vh solid rgb(0, 0, 0);
    border-radius: 1.5vh;
    color:rgb(151, 151, 151);
    cursor: pointer;
    user-select: none;
    box-shadow: 0vh 1.4vh 10px -0.8vh rgb(0, 0, 0);
    -webkit-transition: width 0.2s, height 0.4s; /* For Safari 3.1 to 6.0 */
    transition: width 0.2s, height 0.4s, margin-bottom 0.4s;
    margin-bottom: 1.5vh;
    text-transform: capitalize;
}

div.container:hover{
    width: 17vw;
    height:13vh;
    margin-bottom: 0vh;
    border-width: 0.3vh;
    border-style: solid;
    border: 0.3vh solid #ac0c91a9;
    color:rgb(221, 221, 221);
    box-shadow: 0vh 1.4vh 1vh -0.8vh rgba(0, 0, 0, 0.671);
    
}

h3.title{
    display: grid;
    grid-area: 'tittel';
    text-align: left;
    font-size: 1.17vw;
    margin:0;
    padding: 0;
    overflow-wrap: break-word;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* line-break: strict; */
    padding-left: 0.4vw;
    padding-top: 0.75vh;
}

p.sjanger{
    display: grid;
    grid-area: 'sjanger';
    text-align: left;
    font-size: 1vw;
    margin:0;
    margin-top: 1.3vw;
    margin-left: 0.3vw;
    padding:0;
}
p.spilletid{
    display: grid;
    grid-area: 'spilletid';
    margin:0;
    margin-top: 0.53vw; 
    margin-right: 0.5vw; 
    text-align: right;
    font-size: 1vw;
    white-space: nowrap;
}
div.favoritt{
    display: grid;
    grid-area: 'favoritt';
    margin: 0px;
    text-align: right;
    margin-right: 0.8vw;
    margin-top: 0.65vw;
    font-size: 1.6vw;

}


#footer{
    grid-area: footer;
    border-top: 0.2vh solid black;
    color: rgb(51, 51, 51);
    text-align: center;
    padding: 0px;
    padding-top: .2vh;
    user-select: none;
    z-index: 1;
    
}
#footer:hover{
    color: rgb(114, 114, 114);
}


/* ----- Fancy shite ----- */

    /* addMovieBox Animation */
#addMovieBox{

    /* --- Fall-down --- */
    -webkit-animation-name: falldown; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: .4s; /* Safari 4.0 - 8.0 */
    animation-name: falldown;
    animation-duration: .4s;
    animation-fill-mode: forwards;

    /* --- Fade in ---  */
    /* -webkit-animation-name: fadein; 
    -webkit-animation-duration: 0.4s;
    animation-name: fadein;
    animation-duration: 0.4s;
    animation-fill-mode: forwards; */

}

/* --- Fall down --- */
  /* Safari 4.0 - 8.0 */
  @-webkit-keyframes falldown {
    from {transform: translateY(-100%);}
    to {transform: translateY(0%);}
  }
  
  /* Standard syntax */
  @keyframes falldown {
    from {transform: translateY(-100%);}
    to {transform: translateY(0%);}
  }
/* --- Fade in --- */
  /* Safari 4.0 - 8.0 */
  /* @-webkit-keyframes fadein {
    from {opacity: 0%;}
    to {opacity: 100%;}
  } */
  
  /* Standard syntax */
  /* @keyframes fadein {
    from {opacity: 0%;}
    to {opacity: 100%;}
  } */


    /* --- Blur --- */
.blur{
    /* filter: blur(1.2vh); */
    /* -webkit-filter: blur(1.2vh);  */
    user-select: none;
    -webkit-animation-name: blur; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: .4s; /* Safari 4.0 - 8.0 */
    animation-name: blur;
    animation-duration: .4s;
    animation-fill-mode: forwards;
}

  
  /* Safari 4.0 - 8.0 */
  @-webkit-keyframes blur {
    from {filter: blur(0vh);}
    to {filter: blur(1.8vh);}
  }
  
  /* Standard syntax */
  @keyframes blur {
    from {filter: blur(0vh);}
    to {filter: blur(1.8vh);}
  }

    /* --- Custom Scrollbar --- */

    /* width */
    ::-webkit-scrollbar {
    width: 1.3vh;
    height: 1.3vh;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1vh  #00000000; 
    border-radius: 100vh;
    }
    ::-webkit-scrollbar-track:hover {
    box-shadow: inset 0 0 20vh  #ffffff0e; 
    /* border-radius: 20vh; */
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
    /* background: rgb(0, 0, 0); */
    background: #00000038;
    border-radius: 100vh;
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
    /* background:  */
    background: #d100ec63;
    }
